node_modules
.DS_Store
dist
dist-ssr
*.local
.DS_Store
node_modules/
dist/
*/node_modules/
*/dist/
*/mock/upload/
*/npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
mock/upload/
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
\.history/
\.vscode/launch\.json
.vscode/
