@import '~@/style/theme/variable';
@import '~@/style/mixins/mixins';
@import '~@/style/browser-style-reset/normalize';

/* 改变  element UI 主题色变量 */
$--color-primary: lighten($themeColor-primary, 20);
$--color-success: $statusColor-success;
$--color-info: $statusColor-info;
$--color-warning: $themeColor-secondary;
$--color-danger: $statusColor-error;

/* 改变 element UI icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';
@import '~@/style/element-ui-style-reset/index';
@import '~@/style/custom-ui-style/index';
