// ******************
// 样式名前序
// ******************
$class-name-pre-fixer: 'weychain';

// ******************
// theme color
// ******************
// $themeColor-primary: #8e354a;
$themeColor-primary: teal;
$themeColor-secondary: #fab980;
$themeColor-thirdly: #606266;

// ******************
// border radius
// ******************
$background-color-primary: #fff;
$background-color-secondary: #fafafa;

// ******************
// font family
// ******************
$font-family: 'Open Sans', sans-serif;

// ******************
// border radius
// ******************
$borderRadius-public: 5px;

// ******************
// gap size public
// ******************
$gapSize-public: 5px;

// ******************
// font size
// ******************
$fontSize-base: 14px;
$fontSize-default: $fontSize-base; // ~14px
$fontSize-small: floor($fontSize-base * 0.87); // ~12px
$fontSize-large: floor($fontSize-base * 1.3); // ~18px
$fontSize-larger: ceil($fontSize-base * 1.7); // ~24px
$fontSize-largest: floor($fontSize-base * 2.45); // ~34px

// ******************
// font color
// ******************
$fontColor-primary: #333;
$fontColor-secondary: #999;
$fontColor-thirdly: #666;
$fontColor-link: $themeColor-primary;

// ******************
// border color
// ******************
$borderColor-primary: #ebebeb;

// ******************
// line height
// ******************
$lineHeight-default: 1.6;
